@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Poppins:wght@400;700&display=swap');

:root {
    --white-color: #FFFFFF;
    --green-color: #38AF90;
    --gray-color:#797979;
    --bk-noticias-color: #f0f0f0;
    --pink-color:#DD7E92;
    --bk-color-inscrição: #E5E5E5;
    --checkinput-color: #999999;
    --bk-color-footer: #383838;

}

* {
    font-family: 'Poppins', sans-serif;
}
 html, body {
    margin: 0;
    padding: 0;

 }

.nav-itens h1 {
    color: var(--white-color);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    margin: 32px 10px;
}
.header-container {
    background-color: var(--green-color);
    margin: 0;
    height: 90px
}

.nav-itens img {
    margin: 14px 10px;
}

.nav-itens {
    display: flex;
    justify-content:space-between;

}
.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    box-sizing: border-box;
}

/* main section notícias */



.section-container h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: var(--gray-color);
    text-align: center;
    margin: 40px 50px 8px 50px;
}

.noticias-container {
    background-color: var(--bk-noticias-color);
    border-radius: 8px;
    margin: 0 10px;
    width: 300px;
    height: 493px;
    left: 10px;
    top: 174px;
    margin: auto;
    

}

.noticias-container h3 {
    color: var(--green-color);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin: 16px 13px 3px 15px;
    padding-top: 10px;
    
}

.noticias-container h4 {
    color: var(--gray-color);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    margin: 0 13px 3px 15px;
    border-bottom: 1px solid #38AF90;
}

#data {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    color: var(--green-color);
    margin: 1px 15px 12px 15px;
}

.text-news {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    color: var(--gray-color);
    margin: 0 14px;
}

.noticias-container a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: var(--pink-color);
    text-decoration: none;
    margin: 0px 14px 12px 14px;
}

.container-carregar {
    background-color: var(--pink-color);
    width: 244px;
    height: 67px;
    left: 38px;
    top: 1216px;
    border-radius: 8px;
    margin: 40px 38px;
    text-align: center;
}
#loading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    text-decoration: none;
    color: var(--bk-noticias-color);
    display: flex;
    justify-content: center;
    padding: 20px 30px;
}
.section-jogos {
    width: 320px;
    height: 1176px;
    left: 0px;
    top: 1323px;
    background-color: var(--bk-noticias-color);
    margin-top: 130px;
}
.section-jogos h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: var(--green-color);
    padding: 40px 123px;

}

.section-jogos-description img {
    width: 300px;
    height: 168.54px;
    left: 0px;
    top: 0px;
    background: url(image.png);
    border-radius: 8px 8px 0 0;

}

.section-jogos-description {
    background-color: var(--bk-noticias-color);
    width: 300px;
    height: 326px;
    left: 10px;
    top: 1427px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    text-align: center;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: -40px;

}

.section-jogos-description h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: var(--gray-color);
    margin: 28px 40px 0 40px;
}

.section-jogos-description span {
    width: 207px;
    height: 21px;
    left: 57px;
    top: 1650px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: var(--green-color);
}


.section-jogos-description p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: var(--gray-color);
    margin-top: 0;
}
.section-jogos-description h5 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: var(--green-color);
    margin-bottom: 0;
    margin-top: 0;
}

#title-inscrição {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: var(--gray-color);
    margin: 40px 45px 16px 45px;
}  

.section-inscrição {
    background-color: var(--white-color);
}

.container-form {
    width: 300px;
    height: 603px;
    left: 12px;
    top: 2591px;
    background-color: var(--bk-noticias-color);
    border-radius: 8px;
    margin: 0px 10px;
    text-align: center;
    

}
.container-inputs {

    border: 1px solid #797979;
    text-align: center;


}

#name {
    width: 280px;
    height: 50px;
    left: 20px;
    top: 2643px;
    margin: 52px 0px 10px 0px;
    align-items: center;
    width: calc(100% -30px);
    border: 1px solid #797979;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: var(--white-color);
}

#email {
    width: 280px;
    height: 50px;
    left: 20px;
    top: 2643px;
    margin: 0px 10px 0px 10px;
    border: 1px solid #797979;
    border-radius: 4px;
    box-sizing: border-box;
}
.container-form p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--gray-color);
    margin: 15px 39px 0 8px;
}


.container-checkbox {
    display: block;
    text-align: left;
}

.container-checkbox input {
    display: none;

}

.ctrl-desejo {
    margin-top: 35px;
}
.container-checkbox input + label::before {
    content: '';
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid #999999;
    display: inline-block;
    vertical-align: middle;
    margin: 10px 8px 12px 8px;
    box-sizing: border-box;


}

.container-checkbox label {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--gray-color);
    box-sizing: border-box;   
}

.container-checkbox input:checked + label::before{
    width: 9px;
    height: 9px;

    padding: 5px;
    background-color: var(--checkinput-color);
    border: 8px solid white;
}


#enviar {
    background-color: var(--pink-color);
    width: 244px;
    height: 67px;
    left: 38px;
    top: 3007px;
    border-radius: 8px;
    color: var(--white-color);
    border: none;
    margin: 47px 28px 0 28px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
}

#reset {
    width: 244px;
    height: 67px;
    left: 38px;
    top: 3094px;
    border: 2px solid #DD7E92;
    border-radius: 8px;
    color: var(--pink-color);
    margin: 20px 28px 33px 28px;
    background-color: var(--white-color);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
}

#ctrl-desejo input {
    display: none;
}

.ctrl-desejo input {
    width: 23px;
    height: 23px;
    left: 20px;
    top: 2936px;
    background: #FFFFFF;
    border: 1px solid #999999;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    box-sizing: border-box;
    justify-content:right;
    
}

.ctrl-desejo label {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--gray-color);
    box-sizing: border-box;  
    margin-right: 40px;
    margin-left: 3px;
}

.container-footer {
    background-color: var(--bk-color-footer);
    width: 320px;
    height: 302px;
    left: 0px;
    top: 3234px;
    text-align: center;
    margin-top: 40px;
    padding-top: 28px;
    padding-bottom: 20px;
}

.container-footer address {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    width: 111px;
    height: 29.84px;
    left: 103px;
    top: 3262px;
    color: var(--white-color);
    margin: 0px 105px;
}

#direitos {
    width: 250px;
    height: 50px;
    left: 37px;
    top: 3359px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--white-color);
    margin: 37px 35px;
}

.container-footer p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--white-color);
    margin-bottom: 0px;
    margin-top: 0px;
}

.container-solução {
    width: 100%;
    max-width: 960px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin-top: 0;
}

@media(min-width: 1200px){

    .header-container {
        box-sizing: border-box;
        width: 100%;
        max-width: 1200px;
        height: 90px;
        left: 0px;
        top: 0px;
        margin: 0 auto;
    }

    .nav-itens {
        margin-left: 105px;
        
    }

    .noticias-container {
        width: 990px;
        height: 247px;
        left: 105px;
        top: 224px;
    }

    .section-container h2 {
        font-size: 36px;
        line-height: 54px;
    }

    .section-container h3 {
        font-size: 24px;
        line-height: 36px;
    }

    .section-container h4 {
        font-size: 16px;
        line-height: 24px;
    }

    .container-carregar {

        margin: 90px auto;
        
    }

    .section-jogos {

        width: 100%;
        max-width: 1200px;
        height: 559px;
        box-sizing: border-box; 
        margin-top: 180px; 

    }
    .section-jogos h3 {
        font-size: 36px;
        margin: 36px 0px 76px 0 px;
    }

    .container-jogos {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 120px;
    }
    
    .section-jogos-description {
        
        margin: 0;

    }

    .container-form {
        width: 790px;
        height: 522px;
        left: 205px;
        top: 1613px;
        padding: 52px 74px;
    }

    #name {
        display: block;
        width: 642px;
        height: 50px;
        left: 278px;
        top: 1665px;
    }

    #email {
        display: block;
        width: 642px;
        height: 50px;
        left: 277px;
        top: 1735px;
        margin: 0;
    }
    .ctrl-desejo {
        text-align: left;
    }

    #title-inscrição {
        font-size: 36px;
        line-height: 54px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .container-footer {
        width: 100%;
        max-width: 1200px;
        height: 190px;
        left: 0px;
        top: 2196px;
        margin: 61px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 85px 105px;
    }
}
